[Unit]
Description=ssr local
After=network.target

[Service]
Type=simple
ExecStart=PYTHON ROOT/local.py -c ROOT/config-local.json

[Install]
WantedBy=multi-user.target
