[Unit]
Description=ssr service
After=network.target

[Service]
Type=forking
#RemainAfterExit=yes
#ExecStart=/usr/bin/tmux new-session -d -s "ssr server" -n "ssr window" /usr/bin/python ROOT/server.py -c ROOT/config-server.json
#ExecStop=/usr/bin/tmux kill-session -t 'ssr server'
#ExecStart=SSRSERVER start
#ExecStop=SSRSERVER stop
ExecStart=python ROOT/server.py -c ROOT/config-server.json

#Type=simple
#ExecStart=
#ExecStop=

#Environment=
[Install]
WantedBy=multi-user.target
